<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola esta es mi Madre </h1>
    <h2>is the beast</h2>
    <h3>Su nombre es: {{nombre}}</h3>
    <h3>su edad es: {{edad}}</h3>
    <h3>esta viva: {{vive}}</h3>
        <h2>lista de gustos</h2>
    {% for gusto in lista_gustos %}
        <h3>{{gusto}}</h3>
    {% endfor %}

</body>
</html>